@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Main Styling */
html,
body {
    font-family: 'Montserrat', sans-serif;
    color: #4d4d4d;    
    font-weight: bold;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    width: 100%;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
    margin: 10px 0;
    line-height: 1.2em;
    font-weight: 300;
}

a {
    text-decoration: none;
}

/* Utility Classes */
.container {
    margin: auto;    
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
}

.navegation {
    display: flex;
}

.large {
    font-size: 1.2rem;       
    font-weight: bold;
}

.txt-orange {
    color: #E9A075;
}

.display-1 {
    font-size: 4rem;
}

.text-shadow-05 {
    text-shadow: 0.5px 0 0 #000, -0.5px 0 0 #000, 0 0.5px 0 #000, 0 -0.5px 0 #000, 0.5px 0.5px #000, -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000;
}

.text-shadow-1 {
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.btn {
    display: inline-block;
    font-size: 15px;
    padding: 12px 23px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
    max-height: 50px;
}

.btn-round {
    border-radius: 20px;
}

.btn-dark {
    background-color: #E9A075;
    border: 1px solid #E9A075;
    color: white;
    margin-right: 15px;
}

.btn-dark:hover {
    background-color: #d19069;
    color: white;
}

.arrow {
    width: 20px;
}

.bounce-top {
	-webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}

 @-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  

form label {
    display: inline-block;
    margin-bottom: 6px;
}

form .form-group {
    margin-bottom: 16px;
}

form .form-control {
    display: block;
    width: 100%;
    padding: 7px 12px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

/* mainheader */
#mainheader{
    /* background:  radial-gradient(at 10% 10px, #E9A075, #eee, #eee);  */
    background: linear-gradient(270deg, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    -o-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
	height: 100vh;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* navbar */
#navbar {
    color: white;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
} 

#navbar a {
    color: #4D4D4D;
}

#navbar .logo {
    float: left;
    padding-top: 16px;
    font-size: 25px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover {
    color: #d19069;
}

/* Showcase */
#showcase {
    padding: 80px 0;
}

.showcase-row {
    display: flex;
}

.showcase-row-title p.large {
    padding-bottom: 15px;
}

#foto {
    border-radius: 50%;
}

/* Portfolio */
#portfolio {
    padding: 80px 0;
    text-align: center;
}


#portfolio p {
    width: 800px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 50px;
}

.portfolio-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-row figure {
    position: relative;
    margin: 20px 20px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.5);
}

.portfolio-row figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.portfolio-row figure .capa {
    position: absolute; 
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,103,123,0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.portfolio-row figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.portfolio-row figure:hover > .capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.portfolio-row figure:hover > img {
    transform: scale(1.3);
}

.portfolio-row figure .capa h3 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.portfolio-row figure .capa p {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}



/* About Me  */
#about {
    padding: 80px 0;
    text-align: center;
}

#about h2 {
    padding-bottom: 50px;
}

#about p {
    padding-bottom: 20px;
}


/* Contact */
#contact {
    padding: 80px 0;
}

#contact h2 {
    text-align: center;
}

#contact p {
    width: 800px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 50px;
}

.contact-row {
    display: flex;
    display: 20px;
}

.contact-row-img {
    width: 50%;
}

.contact-row-img img {
    padding: 50px;
    max-height: 300px;
    margin-left: 150px;

}

.contact-row-form {
    width: 50%;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 70px;
}

.contact-row-form h4 {
    padding-bottom: 40px;
    text-align: center;
}

.contact-row-form button {
    width: 100%;
}

.lenguajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.icon-lenguaje {
    height: 100px;
    border-radius: 10px;
    margin-left: 20px;
}

.red-social {
    height: 80px;
    border-radius: 10px;
    margin-left: 20px;
}

.redes{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.git {
    animation-delay: 1s;
}

.instagram {
    animation-delay: 2s;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

/* Footer */
#mainfooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 250px;
    margin: 0 10px 0 10px;
}